<html >
<body >
<% if (locals.messages) { %>
<div><%= locals.messages.message %></div>
<% } %>
<form role="form" action="/api/v1/login" method="post">
    <input class="form-email" type="email" name="email" placeholder="Email Address">
    <input class="form-password" type="password" name="password" id="password-1" placeholder="Password">
    <input class="login-btn btn-filled" type="submit" value="Login">
</form>
</body>
</html>